.col-1 .col-2 .col-3 .col-4 .col-5 .col-6 .col-7 .col-8 .col-9 .col-10 .col-11 .col12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 68.18%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.header {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
}

.header a {
  text-decoration: none;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header input {
  border: 0.1em solid black;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
}

#cart {
  max-width: 100%;
  height: auto;
}

#cartItemNumber {
  max-width: 100%;
  height: auto;
  font-size: 2em;
  color: red;
}

#logo {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  padding: 0px 50px;
  width: 100%;
  text-align: center;
}

.header .col-3 a:hover {
  background-color: #ddd;
  color: black;
}

.header input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#sidebar {
  float: left;
  background: #fff;
  padding: 13px 0 0 30px;
  border-right: 2px solid #eee;
  box-sizing: border-box;
}

#sidebar h3 {
  color: #262626;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
  letter-spacing: 1px;
  clear: both;
}

.checklist ul {
  padding-left: 0;
}

.checklist ul li {
  font-size: 1em;
  font-weight: 400;
  list-style: none;
  padding: 7px 0 7px;
}

.listContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.listContianer:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.listContainer input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.listContainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.listContainer .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.colors ul, .sizes ul {
  float: left;
  width: 130px;
}

.colors ul li {
  padding-left: 21px;
}

.colors a span {
  border: none;
  position: relative;
  border-radius: 100%;
  background-color: #eae3d3;
  width: 13px;
  height: 13px;
  margin-left: -20px;
}

.colors a:hover span {
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-left: -21px;
}

.card {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  line-height: 1.6em;
  position: relative;
}

.card .image {
  position: relative;
}

.card img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.card .addToCart {
  position: absolute;
  left: 20px;
  right: 20px;
  opacity: 0;
}

.card .addToCart {
  position: absolute;
  bottom: 20px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  font-size: 0.8em;
  color: #000000;
  line-height: 46px;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.card .addToCart:hover {
  background: #000000;
  color: #ffffff;
}

.card figcaption {
  padding: 20px 20px 30px;

}

.card h2, .card p {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h2 {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.4;
  height: 2*1.4;
  -webkit-line-clamp: 2;
}

.card p {
  -webkit-line-clamp: 3;
  height: 3*1.4;
  margin-bottom: 15px;
  font-size: 0.85em;
  font-weight: 500;
}

.card .price {
  font-size: 1.3em;
  opacity: 0.5;
  font-weight: 700;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card:hover img {
  opacity: 0.8;
}

.card:hover .icons, .card:hover .addToCart {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card>.icons {
  display: block;
}

.foot {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 80%;
  text-align: center;
}

#map {
  height: 200px;
  width: 500px;
}

table {
  border-spacing: 10px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  overflow: auto;
  font-size: 1rem;
}

#differentiar {
  margin-top: 65px;
}

.product-image {
  box-sizing: border-box;
  height: 200px;
  min-width: 220px;
  max-width: 310px;
}

#display {
  justify-content: space-around;
}
